
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report</title>
    <style>
        html
        {
            font-family: Arial;
        }
        h1
        {
            color: blue;
        }
        table
        {
            border: 1px solid black;
            border-spacing: 1px;
        }
        table tr th
        {
            background-color: gray;
            color: white;
            padding: 8px;
            text-align: center;
        }
        table tr td
        {
            margin: 0px;
            padding: 4px;
            text-align: center;
            border-top: 0px;
            border-bottom: 0px;
            border-right: 0px;
            border-left: 0px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
