@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You.</h2>
@if (TempData["RaterError"] != null)
{
    <h4 class="alert-warning">@TempData["RaterError"]</h4>
}
else
{
    <h4>Your answers have been recorded. You may now close this page.</h4>
}


