@model IEnumerable<CapstoneProject.Models.Evaluation>

<h2> Evaluations: Administrator View</h2>
<p>Please rate how much you agree with each statement</p>
<br/>
<div>
    @using (Html.BeginForm())
    {
        foreach (var item in Model)
        {
            foreach (var cat in item.Type.Categories)
            {
                @Html.EditorFor(x=>cat.Questions)
            }
        }
        <input type="submit" />
    }
</div>  