@model CapstoneProject.Models.Evaluation

<h2>Evaluations: Admin View</h2>
<br />
<div>
    @foreach (var q in Model.Questions)
    {
            <h4>@q.QuestionID. @q.QuestionText</h4>
            foreach (var ans in q.Answers)
            {
                <p>
                    @Html.RadioButtonFor(b => q.SelectedAnswer, ans.AnswerID) @ans.AnswerText

                </p>
            }
            <br />
    }
    <input type="submit" />
</div>






