@model IEnumerable<CapstoneProject.Models.Evaluation>

<h2>Send evaluations to your coworkers</h2>
<p>Select 5 employers to send evaluations to. They will be sent emails with links to their evaluations</p>



<input type="submit" value="Send Evaluations" />