@{
    ViewBag.Title = "WUDSCO | Home";
}

<div class="jumbotron">
    <h1>Welcome to WUDSCO!</h1>
    <p class="lead">
        WUDSCO, named after its creators, is an Employee Evaluation system designed to deliver thorough, meaningful, and
        highly customizable evaluations for your employees. Start by uploading your employee data. Next, group them into cohorts.
        Once all of a cohort's employees have created their passwords, you can assign an evaluation to the cohort. When creating
        an evaluation, you can specify the Type, Stage, and number of raters. Raters are additional people (a supervisor, coworkers, and supervisees) 
        who will evaluate the employee, and they don't have to be in our system. Your employees will specify who these raters are after they
        finish their evaluation. Thank you for choosing WUDSCO!
    </p>
</div>

<div class="col-md-6">
    <h4>Evaluation Types</h4>
    <label>Type 1</label>
    <ul>
        <li>Five Categories</li>
        <li>Three Questions per Category</li>
        <li>Answer Options: 1-5</li>
    </ul>

    <label>Type 2</label>
    <ul>
        <li>Seven Categories</li>
        <li>Four Questions per Category</li>
        <li>Answer Options: 1-10</li>
    </ul>
</div>
    
<div class="col-md-6">
    <h4>Evaluation Stages</h4>
    <label>Baseline</label>
    <ul>
        <li>The first stage for any cohort.</li>
        <li>You can specify the number of raters when evaluating at this stage.</li>
    </ul>

    <label>Formative</label>
    <ul>
        <li>The second stage.</li>
        <li>Can only be assigned after Baseline is completed by all cohort employees.</li>
    </ul>
    
    <label>Summative</label>
    <ul>
        <li>The third and final stage.</li>
        <li>Can only be assigned after Formative is completed by all cohort employees.</li>
    </ul>
</div>
<br/><label></label>